* {
    box-sizing: border-box;
     font-family: Arial, sans-serif;
    color: hsl(257.84deg 38.95% 18.63%);
  }
  
  header{
           text-align: center;
    background-color: hsl(254.69deg 55.06% 82.55%);
        padding-top: 80px;
    font-size: 400%;
    border: 1px solid hsl(264.12deg 100% 61.96%);
  }
 
   #logo{
    height: 60px;
    font-size: 150px;
   }
  #leftside{
    margin-top: 10px;
      border: 1px solid white;
    width: 30%;
    float: left;
   margin-left: 10%;
  }
  #rightside{
    margin-top: 10px;
    border: 1px solid white;
    width: 30%;
    float: right;
    margin-right: 10%;
  }
section{
  text-decoration: none;
}
 section>div.facebook{
   position: fixed;
    width: 30px;
    height: 30px;
    background-color:#0796f4;
    right: 10px;
    top: 10px;
     padding: 30px;
     }
.fa-facebook{
  right: 14px;
 top: 15px;
    position: fixed;
   font-size: 50px;
   color: azure;
          }
       section>div.instagram{
        position: fixed;
         width: 30px;
         height: 30px;
         background-color: rgb(225, 36, 36);
         right: 10px;
         top: 70px;
          padding: 30px;
          }
.fa-instagram{
  right: 17px;
  top: 75px;
     position: fixed;
    font-size: 50px;
    color: azure;
    font-size: 50px;
}
section>div.whatsapp{
  position: fixed;
   width: 30px;
   height: 30px;
   background-color: rgb(16, 165, 23);
   right: 10px;
   top: 130px;
    padding: 30px;
    }
.fa-whatsapp{
 right: 17px;
top: 135px;
   position: fixed;
  font-size: 50px;
  color: azure;
    font-size: 50px;
      }
      section>div.twitter{
        position: fixed;
         width: 30px;
         height: 30px;
         background-color: rgb(85, 178, 235);
         right: 10px;
         top: 190px;
          padding: 30px;
          }
          .fa-square-twitter{
            right: 17px;
  top: 195px;
     position: fixed;
    font-size: 50px;
    color: azure;
    font-size: 50px;
                  }
         
  main{
    padding: 40pX;
    padding-right: 120px;
    padding-left: 120px;
  }
  table{
    width: 100%;
  }
  #two {
   background-color: hsl(257.84deg 38.95% 18.63%);
   text-align: center;
   padding: 3px;
   margin-top: 20px;
   }
   h2{
    color:white;
   }
   td {
    width: 50%;
    padding: 10px;
     text-align: left;
  }
  
  tr:nth-child(odd) {
    background-color: rgb(238, 236, 243);
  }
  tr:nth-child(odd){
      border: px solid black;
    margin-top: 25px;
  }
  
  tr:nth-child(even) {
    background-color: hsl(254.69deg 55.06% 82.55%);
  }
  footer>div{
    float: left;
    width: 50%;
  }
  footer{
    padding: 100px;
    background-color: #c6baeb;
  
  }
  footer>div#mail{
    padding-right: 200px;
    text-align: right;
    font-size:large;
  }
  footer>div#phone{
    padding-left: 200px;
    font-size:large;
  }
  .fa-envelope{
    color: white;
    font-size: large;
  }
  .fa-phone{
    color: white;
    font-size: large;
  }
  div.callus {
    position: fixed;
    width: 30px;
    height: 30px;
    border: 4px solid hsl(264.12deg 100% 61.96%);
        border-radius: 50%;
    bottom: 20px;
    right: 20px;
        padding: 30px;
        text-align: center;
}
.fa-headphones-simple{
right: 40px;
bottom: 40px;
  position: fixed;
 font-size: 30px;
 color:hsl(264.12deg 100% 61.96%);
  }